.content {
  padding-top: 55px;
  display: flex;
  justify-content: center;
  font-size: 28px;
}

.selectMember {
  display: flex;
  justify-content: center;
  .ulSpace {
    padding-top: 55px;
    
  }
  li {
    display: inline;
    padding: 0 40px;
    font-size: 20px;
  }
}

.loginForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 55px;
  .loginIconContainer{
    input {
      width: 320px;
      height: 50px;
      font-size: 16px;
    }
  }
  .pwIconContainer{
    input {
      width: 320px;
      height: 50px;
      font-size: 16px;
    }
  }
  
  input::placeholder {
    text-align: center;
  }
}


.loginIconContainer {
  position: relative;
  .userIcon {
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform:translate(0, -50%);
  }
}

.inputDistance {
  padding-top: 10px;
}

.pwIconContainer {
  position: relative;
  .lockIcon {
    margin-left: 15px;
    position: absolute;
    top: 50%;
    transform:translate(0, -50%);
  }
}

.saveCheckBox {
  padding-top: 20px;
  width: 320px;
  color: #8f8f8f;
  
  .inputCheckbox {
    margin: 0 7px 0 0;
    width: 22px;
    height: 22px;
    vertical-align:-5px;
    border-color: #8f8f8f;
  } 
  
}

.loginButtonWrap {
  padding-top: 20px;
  .loginButton {
    width: 320px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 16px;
  }
}

.loginMenu {
  padding-top: 20px;
  .singUp{
    border: 0;
    outline: 0;
    background-color: white;
    color: #8f8f8f;
  }
  .findId{
    border: 0;
    outline: 0;
    background-color: white;
    color: #8f8f8f;
  }
  .findPw{
    border: 0;
    outline: 0;
    background-color: white;
    color: #8f8f8f;
  }
}