.BtmSlide {
  display: flex;
  justify-content: center;
  margin: 90px 0 400px 0;

  dl {
    margin-top: 90px;
    margin-right: 50px;

    dt {
      padding-bottom: 20px;
      font-size: 42px;
      font-weight: 500;
    };

    dd {
      width: 300px;
      font-size: 16px;
      font-weight: 300;
      line-height: 120%;
    };
  };

  .btmSlideContainer {
    position: relative;
    display: block;

    .btmSlideImg {
      img {
        width: 380px;
        height: 490px;
        object-fit: cover;
      }

      .btmSlide {
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
      }

      .firstImg {
        position: absolute;
      }

      .secondImg {
        position: absolute;
      }

      .active {
        opacity: 1;
      }
    }

    .btmSlideBtn {
      position: relative;
      top: 430px;
      left: 290%;

      ul {
        display: flex;

        li {
          button {
            padding-right: 6px;
            border: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.6)
          };
        };
      };
    };
  }
};