.BtmSlide {
  display: flex;
  justify-content: center;
  margin: 90px 100px 400px 0;
  opacity: 0;
  transition: 0.7s ease-in-out;

  dl {
    margin-top: 90px;
    margin-right: 50px;

    dt {
      padding-bottom: 20px;
      font-size: 42px;
      font-weight: 500;
    }

    dd {
      width: 300px;
      font-size: 16px;
      font-weight: 300;
      line-height: 120%;
    }
  }

  .btmSlideContainer {
    position: relative;

    .btmSlideImg {
      img {
        width: 380px;
        height: 490px;
        object-fit: cover;
        overflow: hidden;
      }

      .btmSlide {
        position: absolute;
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
      }

      .active {
        opacity: 1;
      }
    }
  }
}

.active {
  opacity: 1;
}
