@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listPageHeader {
  @include display;
  flex-direction: column;
  width: auto;
  height: 500px;
  background: black;

  .listPageHeaderTxt {
    height: 80px;
    color: white;
    font-size: 68px;
  }

  .listPageHeaderTxt2 {
    font-size: 26px;
    color: white;
    letter-spacing: 0.2em;
  }
}

.listPageContainer {
  @include display;
  width: 100%;

  .listNav {
    width: 1180px;
    margin-top: 77px;
  }

  .listProductContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
  }

  .ListPaging {
    @include display;
    margin: 40px 0 100px;
    span {
      padding: 10px 40px;
      font-weight: 500;
    }
  }
}
