@mixin display {
  display: flex;
  justify-content: center;
  align-items: center;
}

.listPageContainer {
  @include display;
  width: 100%;

  .listNav {
    width: 1180px;
    margin-top: 77px;
  }

  .listProductContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 10px;
  }

  .ListPaging {
    @include display;
    margin: 40px 0 100px;
    span {
      padding: 10px 40px;
      font-weight: 500;
    }
  }
}
