@import "../../../styles/variables.scss";

%modal-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal {
  @extend %modal-position;
  z-index: 1;

  .modalText {
    text-align: center;
    color: $nav-modal-text-color;
  }

  .modalTextForm {
    display: flex;
    align-items: center;

    .modalTextInput {
      margin-left: 20px;
      padding: 20px;
      border: 0;
      border-bottom: 1px solid $white-color;
      background: none;
      color: $white-color;
      font-size: $font-modal-size;
      font-weight: $font-modal-weight;
      text-align: center;
      outline: none;
      z-index: 2;
    }

    .icon {
      color: $white-color;
      font-size: $font-modal-size;
    }
  }

  .loginBg {
    @extend %modal-position;
    width: 300vh;
    height: 300vh;
    background-color: $nav-modal-background-color;
    z-index: -1;
  }
}

.hideModal {
  display: none;
}
