.MainSlide{
  .mainSlideWrap {
    position: relative;
    display: block;
  
    .mainSlideClick {
  
      .mainSlideImg {
        height: 580px !important;
        width: 100%;
        position: absolute;
        text-align: center;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
      };
      
      .active{
        opacity: 1;
      };
    };
  
    .mainSlideBtn {
      position: absolute;
      top: 200px;
      left : 90%;
  
      ul {
        li {
          button {
            padding-bottom: 6px;
            border: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.6);
            opacity: 0.3;
            transition: opacity 0.3s ease-in-out;

            &:hover {
              opacity: 1;
            }

            img {
              width: 80px;
              height: 80px;
            }
          };
        };
      };
    };
  };
};

