.MainSlide{
  .mainSlideWrap {
    position: relative;
    display: block;
  
    .mainSlideClick {
  
      .mainSlideImg {
        height: 580px !important;
        width: 100%;
        text-align: center;
        object-fit: cover;
        opacity: 0;
        transition: opacity 1.5s ease-in-out;
      };
  
      .firstImg {
        position: absolute;
      };
  
      .secondImg {
        position: absolute;
      };
  
      .thirdImg {
        position: absolute;
      };
      
      .active{
        opacity: 1;
      };
    };
  
    .mainSlideBtn {
      position: absolute;
      top: 250px;
      left : 90%;
  
      ul {
        li {
          button {
            padding-bottom: 6px;
            border: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.6)
          };
        };
      };
    };
  };
};

