/* Color List */
$black-color: #000000;
$white-color: #f2f2f2;
$tooltip-font-color: #b5b5b5;
$tooltip-background-color: #333333;
$usertooltip-border-bottom-color: #dadadaf6;
$usertooltip-background-color: #fbfafafb;
$usertooltip-hover-color: gainsboro;

/* Font Size */
$font-logo-size: 40px;
$font-nav-title: 16.5px;
$font-tooltip-title: 18px;
$font-tooltip-items: 14px;
$font-icon-title: 20px;
$font-usertooltip-icon: 25px;
$font-icon-zero: 15px;
$font-usertooltip: 16px;
$font-usertooltiplist: 12px;
// $font-tooltip-

/* Font Stack */
$font-logo-stack: sans-serif;

/* Font Weight */
$font-tooltip-title-weight: 600;
$font-logo-weight: 800;
