/* Color List */
$black-color: #000000;
$grey-color: #f2f2f2;
$green-color: #287a28;

/* Font Size */

/* Font Stack */

/* Font Weight */

/* Banner-large */
$font-xxlarge: 68px;

/* Banner-medium */
$font-xlarge: 26px;

/* Title */
$font-large: 16px;
$font-medium: 15px;

/* Description */
$font-small: 14px;
$font-xsmall: 12px;
$font-xxsmall: 10px;
