.BtnVegan {
  width: 74px;
  height: 27px;
  margin: 0 2px 5px;
  border: none;
  border-radius: 20px;
  background-color: #92ac00;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  &:hover {
    background-color: #d9ff00;
    color: white;
  }
}
