.tagButton {
  width: 74px;
  height: 27px;
  margin: 0 2px 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-size: 12px;
  letter-spacing: 1px;

  &.NEW {
    background-color: #007a29;
  }

  &.VEGAN {
    background-color: #92ac00;
  }

  &.SOLD.OUT {
    background-color: #e46c3d;
    font-size: 10px;
  }
}
