.allContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 150px 0 50px;

  .shoppingCartContainer {
    width: 1180px;
    height: 1000px;

    .shoppingCartHeader {
      height: 110;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: column;
      padding: 40px 0 90px 0;
      // background-color: sandybrown;

      .shoppingCartTitle {
        font-size: 42px;
        font-weight: 900;
      }

      .shoppingCartContents {
        padding-top: 30px;

        .shoppingCartContentsList {
          display: flex;

          li {
            // padding: 0 16px;
            font-size: 16px;
            font-weight: 900;
            color: #a9a9a9;
          }
          .thisPage {
            color: black;
          }

          span {
            margin: 0 15px;
            font-size: 16px;
            color: #a9a9a9;
          }
        }
      }
    }
    .tableBox {
      display: flex;
      flex-direction: column;
      .tableTitle {
        padding-bottom: 15px;
        border-bottom: solid black 2px;
        p {
          display: flex;
          width: 100%;
          height: 40px;
          // background-color: green;
          align-items: center;
          text-align: center;
          font-size: 28px;
          font-weight: 900;
        }
      }
      .tableContents {
        display: flex;
        flex-direction: column;
        thead {
          tr {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            border-bottom: solid #e7e7e7 0.5px;
            color: #8f8f8f;
            th {
              padding: 18px 0;
              font-size: 14px;
            }
            .th1 {
              width: 57px;
            }
            .th2 {
              width: 440px;
            }
            .th3 {
              width: 185px;
            }
            .th4 {
              width: 158px;
            }
            .th5 {
              width: 61px;
            }
            .th6 {
              width: 158px;
            }
            .th7 {
              width: 120px;
            }
          }
        }
        tbody {
          tr {
            display: flex;
            align-items: center;
            // justify-content: space-around;
            width: 100%;
            border-bottom: solid #e7e7e7 1px;
            td {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              height: 150px;
              padding: 20px 15px;
              font-weight: 500;
            }
            .td1 {
              width: 57px;
            }
            .td2 {
              display: flex;
              justify-content: space-around;
              width: 440px;
              img {
                width: 115px;
                height: 115px;
              }
              a {
                line-height: 2;
                font-size: 18px;
              }
              p {
                font-size: 16px;
                color: #8f8f8f;
              }
            }
            .td3 {
              width: 185px;
              .증가감소 {
                display: flex;
                justify-content: center;
                border: solid #e7e7e7 1px;

                .downBtn,
                .upBtn,
                .showNum {
                  width: 38px;
                  height: 38px;
                  border: none;
                  background-color: white;
                  font-size: 16px;
                }
              }
            }
            .td4 {
              width: 158px;
            }
            .td5 {
              width: 61px;
            }
            .td6 {
              width: 158px;
            }
            .td7 {
              width: 120px;
              span {
                font-size: 14px;
                color: #b1b1b1;
              }
            }
          }
        }
      }
    }
    .가격박스 {
      width: 1180px;
      height: 94px;
      background-color: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      em {
        padding: 0 25px;
      }
      strong {
        font-weight: 700;
        padding: 0 25px 0 8px;
      }
    }
    .버튼박스 {
      .박스1 {
        .삭제버튼 {
          display: flex;
          justify-content: flex-start;
          margin-top: 22px;
          .deleteButton,
          .wishButton {
            width: 80px;
            height: 30px;
            margin: 20px 5px 0 0;
            border: none;
            cursor: pointer;
            background-color: black;
            color: white;
            font-size: 13px;
            border-radius: 15px;
            &:hover {
              background-color: palevioletred;
            }
          }
        }
        .주문버튼 {
          height: 63px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
          .keepGoButton,
          .orderButton {
            width: 280px;
            height: 63px;
            margin: 0 10px;
            background-color: white;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            &:hover {
              color: white;
              box-shadow: 0 -80px 0 0 rgba(0, 0, 0, 0.986) inset;
            }
          }
          .Nbutton {
            width: 140px;
            height: 63px;
            background-color: #01c73c;
            color: white;
            border: none;
            margin: 0 10px;
            cursor: pointer;
            em {
              width: 17px;
              font-size: 16px;
              background-color: white;
              padding: 2px 4.5px;
              color: #01c72c;
              margin-right: 5px;
              font-weight: 900;
            }
            &:hover {
              background-color: #00eb46;
            }
          }
        }
      }
    }
  }
}
