.allContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .reviewContainer {
    width: 1180px;

    .reviewTitleBox {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 68px;

      .reviewTitle {
        display: flex;
        justify-content: flex-start;

        h2 {
          font-size: 30px;
          font-weight: 900;
        }

        p {
          font-size: 16px;
          margin-left: 16px;
          display: flex;
          align-self: flex-end;
        }
      }
      .reviewTitleDesc {
        margin-top: 10px;
        font-size: 18px;
      }
    }

    .reviewEvaluateBox {
      border: solid #ededed 1px;
      margin: 20px 0 10px;
      .ratingContainer {
        display: flex;
        justify-content: flex-start;
        padding: 10px 0 10px 20px;
        border-bottom: solid #ededed 1px;
        .ratingTitle {
          display: flex;
          align-items: center;
          text-align: center;
          font-size: 15px;
          font-weight: 500;
          padding-right: 100px;
          border-right: solid #ededed 1px;
        }
        .starRatingBox {
          padding: 0 20px;
          .rating {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-around;
            text-align: center;
            margin: 10px 0px;
            padding: 20px, 20px;
            font-size: 20px;
          }
          .rating input {
            display: none;
          }
          .rating label {
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: black;
            cursor: pointer;
          }

          .rating label:hover,
          .rating label:hover ~ label {
            -webkit-text-fill-color: black;
          }
        }
      }

      .textAreaBox {
        padding: 20px;
        border-bottom: solid #ededed 1px;

        textarea {
          -webkit-input-placeholder-color: #888888;
        }
        .textArea {
          width: 100%;
          height: 240px;
          border: none;
          font-size: 15px;
          font-weight: 600;
          letter-spacing: 2px;
        }
      }
      .attachBox {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .upLoad {
          label {
            display: inline-block;
            padding: 1px 15px;
            margin-top: 7px;
            color: royalblue;
            font-size: 40px;
            cursor: pointer;
          }
          input {
            position: absolute;
            overflow: hidden;
            clip: rect(0, 0, 0, 0);
            border: 0;
          }
        }
        .reviewArttachButtonBox {
          padding: 0px 15px;
          .reviewArttachButton {
            width: 100px;
            height: 50px;
            border: none;
            color: white;
            font-size: 15px;
            font-weight: 500;
            background-color: rgb(177, 178, 180);
            border-radius: 10px;
            text-shadow: 1px 1px 1px #000;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
              background-color: royalblue;
            }
          }
        }
      }
    }
  }
}
