@import "../../styles/common.scss";

.Footer {
  %category-style {
    color: $white-color;
    text-decoration: none;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 35px 300px 220px;
    background-color: $black-color;

    .footerCategory {
      display: flex;
      line-height: 100px;

      .footerMainLogo {
        @extend %category-style;
        margin-right: 85px;
        font-size: $font-logo-size;
        font-family: $font-logo-stack;
        font-weight: $font-logo-weight;
      }

      .footerCategoryLink {
        @extend %category-style;
        font-size: $font-footercategorylink;
      }

      .footerLink {
        margin-left: 40px;
      }
    }
  }
}
